<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<typeAlias type="model.Member" alias="Member"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://face-recog-db-dev.ckeffyuykcfz.ap-northeast-2.rds.amazonaws.com:3306/management" />
				<property name="username" value="admin" />
				<property name="password" value="12345678" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/repository/mapper/MemberMapper.xml" />
	</mappers>
</configuration>