<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.mapper.ImageInfoMapper">
	<cache />
	
	<select id="selectAllImageInfo" resultType="ImageInfo">
		SELECT * FROM MNG_WORK_IMAGE_TB
	</select>
	
	<select id="selectImageInfoByWorkId" resultType="ImageInfo" parameterType="int">
		SELECT * FROM MNG_WORK_IMAGE_TB
		WHERE WORK_ID = #{work_id} ORDER BY DATE ASC
	</select>
	
	<insert id="insertImageInfo" parameterType="ImageInfo" useGeneratedKeys="true" keyProperty="IMAGE_ID">
		INSERT INTO MNG_WORK_IMAGE_TB (USER_ID, PATH, WORK_ID, TITLE, DATE)
		VALUES (#{USER_ID}, #{PATH}, #{WORK_ID}, #{TITLE}, #{DATE})
	</insert>
</mapper>