<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.mapper.LogInfoMapper">
	<cache />
	<select id="selectLogInfoById" resultType="LogInfo" parameterType="int">
		SELECT LOG_ID,
			CREATED_DT,
			TITLE,
			PATH,
			USR_ID,
			IP
		FROM MNG_LOG_TB
		WHERE USR_ID = #{usr_id}
	</select>
	
	<insert id="insertLogInfo" parameterType="LogInfo" useGeneratedKeys="true" keyProperty="LOG_ID">
		INSERT INTO MNG_LOG_TB (CREATED_DT, TITLE, PATH, USR_ID, IP, LOGOUT_DT)
		VALUES (#{CREATED_DT}, #{TITLE}, #{PATH}, #{USR_ID}, #{IP}, #{LOGOUT_DT})
	</insert>
</mapper>