<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.mapper.MemberMapper">
	<cache />
	
	<resultMap id="baseResultMap" type="Member">
		<id column="id" jdbcType="NUMERIC" property="_id" />
		<result column="login_id" jdbcType="VARCHAR" property="login_id" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="member_name" />
		<result column="image" jdbcType="BLOB" property="image_blob" javaType="_byte[]" />
	</resultMap>
	
	<select id="selectAllMember" resultMap="baseResultMap">
		SELECT *
		FROM MNG_USR_TB
	</select>
		
	<select id="selectOneMemberByLoginId" parameterType="String" resultMap="baseResultMap">
		SELECT *
		FROM MNG_USR_TB
		WHERE login_id = #{login_id}
	</select>
	
	<select id="selectOneMemberById" parameterType="int" resultMap="baseResultMap">
		SELECT *
		FROM MNG_USR_TB
		WHERE id = #{id}
	</select>
	
	<select id="loginCheck" resultMap="baseResultMap">
		SELECT * 
		FROM MNG_USR_TB
		WHERE login_id = #{login_id} and password = #{password}
	</select>
	
</mapper>