<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.mapper.SettingMapper">
	<cache />
	
	<select id="selectSettingInfo" resultType="Setting">
		SELECT *
		FROM MNG_STG_TB
	</select>
	
	<update id="updateSettingInfo" parameterType="Setting">
		UPDATE MNG_STG_TB
		SET RECOG_LV = ${RECOG_LV}, 
			NOD_SEC = ${NOD_SEC},
			DETEC_SEC = ${DETEC_SEC}
	</update>
	
	
</mapper>