<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.mapper.SettingMapper">
	<cache />
	
	<resultMap id="BaseResultMap" type="Setting">
		<id column="STG_ID" jdbcType="NUMERIC" property="STG_ID" />
		<result column="RECOG_LV" jdbcType="NUMERIC" property="RECOG_LV" />
		<result column="NOD_SEC" jdbcType="NUMERIC" property="NOD_SEC" />
		<result column="DETEC_SEC" jdbcType="NUMERIC" property="DETEC_SEC" />
	</resultMap>
	
	<select id="selectSettingInfo" resultMap="BaseResultMap">
		SELECT *
		FROM MNG_STG_TB
		WHERE STG_ID = 1
	</select>
	
	<update id="updateSettingInfo" parameterType="Setting">
		UPDATE MNG_STG_TB
		SET RECOG_LV = ${RECOG_LV}, 
			NOD_SEC = ${NOD_SEC},
			DETEC_SEC = ${DETEC_SEC}
	</update>
	
	
</mapper>